{% extends "base.html.twig" %}

{% block title %}
	eventbrite | Login
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Login</h1>
		<form action="{{path('app_login')}}" method="POST">
			<input type="hidden" name="_target_path" value="/"/>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

			<div class="mb-4">
				<label class="fw-bold">Email</label>
				<input class="form-control" placeholder="Email" type="text" name="_username" value="{{last_username}}"/>
			</div>
			<div class="mb-4">
				<label class="fw-bold">Password</label>
				<input class="form-control" placeholder="Password" type="password" name="_password"/>
			</div>

			<button class="btn btn-primary" type="submit">Login</button>
		</form>
	</main>
{% endblock %}
